<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Logged</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <h3 class="text-center">
                    Hi <span th:text="${user.getUsername()}"></span><br />
                </h3>
            </div>        
        </div>
        <a href="/logout">Logout</a>
    </body>
</html>